.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  
  .column {
    border-radius: 4px;
  }
  
  .column h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  