.form {
    max-width: 30rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .formLabel {
    margin-bottom: 0.25rem;
  }
  
  .formField {
    padding: 0.5rem;
    border: 1px solid #000;
  }
  
  .formFieldError {
    border: 1px solid #e11d48;
  }
  
  .formFieldErrorMessage {
    color: #e11d48;
  }
  
  .formActions {
    display: flex;
    justify-content: flex-start;
  }
  
  .formSubmitBtn {
    padding: 0.5rem 0.7rem;
    min-width: 5rem;
    background-color: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }